html,
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: darkgrey;
}

#character {
    width: 20px;
    height: 50px;
    background-color: green;
    position: relative;
    top: 150px;
    border-radius: 50px;
}

h2,
h3,
h4 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: black;
}

@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 75px;
    }
    70% {
        top: 75px;
    }
    100% {
        top: 150px;
    }
}

.animate {
    animation: jump 300ms linear;
}

#block {
    width: 32px;
    height: 20px;
    background-color: brown;
    border-top: black;
    rotate: 360;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1.5s infinite linear;
    border-radius: 50px;
}

@keyframes block {
    0% {
        left: 500px
    }
    100% {
        left: -20px
    }
}